@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(96, 96, 96);
    background-color: rgb(236, 238, 241);
}

body.igraph-fullscreen {
    overflow: hidden;
    background: none;
}

canvas {
    margin-top: 1em;
    border: solid 1px grey;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

canvas.igraph-fullscreen {
    margin-top: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

a {
    color: rgb(60, 121, 156);
    text-decoration: none;
}

a:hover {
    color: #6699FF;
}

#frame {
    min-width: 320px;
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#igraph {
    text-align: center;
}

.igraph-buttons.igraph-fullscreen {
    padding: 0.5em;
    text-align: left;
    border: solid 1px #999999;
    background: linear-gradient(to right, rgba(200, 200, 200, 0.85) 0%, rgba(255, 255, 255, 0.2) 100%);
    box-shadow: 0 0 1em rgb(0, 0, 0);
    float: left;
    position: fixed;
    top: 2em;
    left: 2em;
}

.pure-button {
    margin: 2px;
}

.pure-button.group {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0 0 0 0;
}

.pure-button.group.first {
    margin-left: 2px;
    border-radius: 2px 0 0 2px;
}

.pure-button.group.last {
    margin-right: 2px;
    border-radius: 0 2px 2px 0;
}

.pure-button.igraph-fullscreen {
    font-size: 12px;
    border: solid 1px #999999;
}